/*包含头像布局的样式*/
.onderAppBarViewStyle{
  display: flex;
  background-color: rgb(0, 188, 212);
  height: 450px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 80px;
}
/*头像的样式*/
.avatorStyle{
  display: flex;
  height: 180px;
  width: 180px;
  border-radius: 100px;
  border-width: 1px
}
/*标题的样式*/
.bolgTitleStyle{
  margin-top: 10px;
  font-size: 30px;
  color: #fff;
}
/*副标题样式*/
.bolgSubTitleStyle{
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
  color: #fff;
  width: 300px;
}
/*包含头像样式下面的view样式*/
.belowAvatorViewStyle{
  display: flex;
  background-color: rgb(238, 238, 238);
  height: 200px;
  justify-content: center;
  align-items: center;
}
/*包含头像样式下面的view中的文样式*/
.belowAvatorViewTestStyle{
  font-size: 20px;
  color: gray;
}
/*浮动层*/
.floatView{
  position:fixed;
  width: 100%;
}
.cardViewStyle{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 510px;
  background-color: #fff;
}
.belowCardViewStyle{
  display: flex;
  background-color: rgb(238, 238, 238);
  height: 230px;
  justify-content: center;
  align-items: center;
}
/*版权view*/
.copyRightStyle{
  background-color: rgb(33, 33, 33);
  height: 290px;
}
