/*包含头像布局的样式*/
.onderAppBarViewStyle{
  display: flex;
  background-color: rgb(0, 188, 212);
  height: 450px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 80px;
}
/*左边滑动顶部view*/
.leftDrawTopViewStyle{
  display: flex;
  background-color: rgb(0, 188, 212);
  height: 64px;
  align-items: center;
  justify-content: center;
}
/*头像的样式*/
.avatorStyle{
  display: flex;
  height: 180px;
  width: 180px;
  border-radius: 100px;
  border-width: 1px
}
/*标题的样式*/
.bolgTitleStyle{
  margin-top: 10px;
  font-size: 30px;
  color: #fff;
}
/*副标题样式*/
.bolgSubTitleStyle{
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
  color: #fff;
  width: 300px;
}
/*包含头像样式下面的view样式*/
.belowAvatorViewStyle{
  display: flex;
  background-color: rgb(238, 238, 238);
  height: 200px;
  justify-content: center;
  align-items: center;
}
/*包含头像样式下面的view中的文样式*/
.belowAvatorViewTestStyle{
  font-size: 20px;
  color: gray;
}
/*浮动层*/
.floatView{
  position:fixed;
  width: 100%;
  top:0;
}
.cardViewStyle{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 510px;
  background-color: #fff;
  flex-wrap: wrap;
}
.belowCardViewStyle{
  display: flex;
  background-color: rgb(238, 238, 238);
  height: 230px;
  justify-content: center;
  align-items: center;
}
/*版权view*/
.copyRightStyle{
  background-color: rgb(33, 33, 33);
  height: 290px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
/*版权文本样式*/
.copyRightTextStyle{
  color: #fff;
  font-size: 16px;
  margin-bottom: 10px;
}
/**每个卡片的样式*/
.preCardViewStyle{
  height: 330px;
  width: 265px;
  margin-right: 5px;
  display: flex;
  flex-direction: column;
}
.preCardViewStyle:hover{
  box-shadow: 0 0 15px #888888, 0 0 5px #fff;
}
/*卡片布局View中每个文本的样式*/
.cardViewTextStyle{
  font-size: 20px;
    padding: 0px;
    margin: 0px;
    letter-spacing: 0px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.870588);
    background-color: rgb(238, 238, 238);
    text-align: center;
    line-height: 64px;
}

.preCardViewImgStyle{
  display: flex;
  flex:1;
  background-color: red;

}
.leftDrawTopViewTopTextStyle{
  font-size: 15px;
  color:#fff;
}

/*路由link的样式 去掉下划线等*/
.linkStyle{
  text-decoration: none;
}
